<nav>
  <% if (user.isSignedIn) { %>
    <div>
      <a href="/welcome">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19 7.90637V18C19 19.1046 18.1046 20 17 20H7C5.89543 20 5 19.1046 5 18V7.90637M2 10.0001L10.8531 3.80297C11.5417 3.32092 12.4583 3.32092 13.1469 3.80297L22 10.0001"
            stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div>
          <%= text['welcome'] %>
        </div>
      </a>
    </div>
    <div>
      <a href="/main">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M21.0039 12C21.0039 16.9706 16.9745 21 12.0039 21C9.9675 21 3.00463 21 3.00463 21C3.00463 21 4.56382 17.2561 3.93982 16.0008C3.34076 14.7956 3.00391 13.4372 3.00391 12C3.00391 7.02944 7.03334 3 12.0039 3C16.9745 3 21.0039 7.02944 21.0039 12Z"
            stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div>
          <%= text['mainChat'] %>
        </div>
      </a>
    </div>
    <div>
      <a href="/temporal">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8 12H8.01M12 12H12.01M16 12H16.01M21.0039 12C21.0039 16.9706 16.9745 21 12.0039 21C9.9675 21 3.00463 21 3.00463 21C3.00463 21 4.56382 17.2561 3.93982 16.0008C3.34076 14.7956 3.00391 13.4372 3.00391 12C3.00391 7.02944 7.03334 3 12.0039 3C16.9745 3 21.0039 7.02944 21.0039 12Z"
            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div>
          <%= text['temporalChat'] %>
        </div>
      </a>
    </div>
    <% if (user.section !=null) { %>
      <div>
        <a href="/section">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Navigation / Flag">
              <path id="Vector"
                d="M4 21V15.6871M4 15.6871C9.81818 11.1377 14.1818 20.2363 20 15.6869V4.31347C14.1818 8.86284 9.81818 -0.236103 4 4.31327V15.6871Z"
                stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </g>
          </svg>
          <div>
            <%= text[user.section + "Chat" ] %>
          </div>
        </a>
      </div>
      <% } %>
        <div>
          <a href="/about">
            <svg class="fill" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>about</title>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="about-white" transform="translate(42.666667, 42.666667)">
                  <path
                    d="M213.333333,3.55271368e-14 C95.51296,3.55271368e-14 3.55271368e-14,95.51168 3.55271368e-14,213.333333 C3.55271368e-14,331.153707 95.51296,426.666667 213.333333,426.666667 C331.154987,426.666667 426.666667,331.153707 426.666667,213.333333 C426.666667,95.51168 331.154987,3.55271368e-14 213.333333,3.55271368e-14 Z M213.333333,384 C119.227947,384 42.6666667,307.43872 42.6666667,213.333333 C42.6666667,119.227947 119.227947,42.6666667 213.333333,42.6666667 C307.44,42.6666667 384,119.227947 384,213.333333 C384,307.43872 307.44,384 213.333333,384 Z M240.04672,128 C240.04672,143.46752 228.785067,154.666667 213.55008,154.666667 C197.698773,154.666667 186.713387,143.46752 186.713387,127.704107 C186.713387,112.5536 197.99616,101.333333 213.55008,101.333333 C228.785067,101.333333 240.04672,112.5536 240.04672,128 Z M192.04672,192 L234.713387,192 L234.713387,320 L192.04672,320 L192.04672,192 Z"
                    id="Shape"></path>
                </g>
              </g>
            </svg>
            <div>
              <%= text['about'] %>
            </div>
          </a>
        </div>
        <div>
          <a href="/profile">
            <% if (user['image']) { %>
              <img class="profile-pic" src="<%= user['image'] %>">
              <% } else { %>
                <span class="profile-span"
                  style="color: <%= user['color'] %>; background-color: <%= user['color'] %>80;">
                  <%= user['username'][0] %>
                </span>
                <% } %>
                  <div>
                    <%= text['profile'] %>
                  </div>
          </a>
        </div>
        <% } else { %>
          <div>
            <a href="/">
              <svg viewBox="0 0 512 512" version="1.1" id="svg1" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <defs id="defs1">
                  <linearGradient id="linearGradient12">
                    <stop style="stop-color:#ff0000;stop-opacity:1;" offset="1" id="stop12" />
                    <stop style="stop-color:#ff0000;stop-opacity:0.05;" offset="1" id="stop13" />
                  </linearGradient>
                  <linearGradient id="linearGradient10">
                    <stop style="stop-color:#ff0000;stop-opacity:1;" offset="0" id="stop10" />
                    <stop style="stop-color:#ff0000;stop-opacity:1;" offset="0.94999999" id="stop11" />
                  </linearGradient>
                  <linearGradient xlink:href="#linearGradient12" id="linearGradient13" x1="4.3835807" y1="16.338501"
                    x2="28.244865" y2="16.338501" gradientUnits="userSpaceOnUse" />
                </defs>
                <g id="layer1">
                  <path
                    style="opacity:1;fill:#000000;fill-opacity:0;fill-rule:nonzero;stroke:url(#linearGradient13);stroke-linejoin:bevel;stroke-opacity:1"
                    d="m 24.260428,15.646292 c 0.745062,-1.092076 -0.09186,-0.561348 -0.602174,-0.704244 -0.510318,-0.142897 -0.694028,-0.959386 -0.09184,-1.918791 0.602187,-0.959406 1.99022,-2.061667 2.939413,-3.5518088 0.949193,-1.4901417 1.459499,-3.3680674 1.132885,-3.704864 -0.326614,-0.3367967 -1.490112,0.8675254 -3.061906,1.867753 -1.571793,1.0002276 -3.55178,1.7963048 -5.297076,2.7659168 -1.745296,0.969612 -3.255801,2.112698 -3.327232,2.561773 -0.07143,0.449076 1.296189,0.204129 2.19435,0.408262 0.89816,0.204133 1.326818,0.857325 1.153302,1.837145 -0.173515,0.97982 -0.94918,2.286203 -1.939206,3.000647 -0.990025,0.714443 -2.194347,0.836917 -2.490324,0.428654 -0.295977,-0.408262 0.31639,-1.347225 -0.01023,-1.285976 -0.326615,0.06125 -1.592174,1.122685 -2.551575,2.327044 -0.959401,1.20436 -1.612592,2.551567 -2.6536513,3.76613 -1.0410592,1.214564 -2.4699154,2.296412 -3.5007603,2.878174 -1.0308449,0.581761 -1.6636245,0.66341 -1.000194,0.642996 0.6634306,-0.02041 2.6230053,-0.142887 5.1235846,-0.959408 2.50058,-0.816521 5.542003,-2.327027 8.226289,-4.439763 2.684286,-2.112736 5.011281,-4.827563 5.756342,-5.91964 z"
                    id="path10" transform="matrix(16.093014,0,0,17.251519,-6.5450269,-25.864178)" />
                </g>
              </svg>
              <div>
                <%= text['nameWebsite'] %>
              </div>
            </a>
          </div>
          <div>
            <a href="/signin">
              <svg class="fill" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.29289 8.2929C8.90237 8.68342 8.90237 9.31659 9.29289 9.70711L10.5858 11H2C1.44771 11 1 11.4477 1 12C1 12.5523 1.44771 13 2 13H10.5858L9.29289 14.2929C8.90237 14.6834 8.90237 15.3166 9.29289 15.7071C9.68342 16.0976 10.3166 16.0976 10.7071 15.7071L13.7071 12.7071C14.0976 12.3166 14.0976 11.6834 13.7071 11.2929L10.7071 8.2929C10.3166 7.90237 9.68342 7.90237 9.29289 8.2929Z"
                  fill="#000000" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M10.2442 3.17294C11.99 2.82567 13.7996 3.0039 15.4442 3.68509C17.0887 4.36628 18.4943 5.51983 19.4832 6.99987C20.4722 8.47991 21 10.22 21 12C21 13.78 20.4722 15.5201 19.4832 17.0001C18.4943 18.4802 17.0887 19.6337 15.4442 20.3149C13.7996 20.9961 11.99 21.1743 10.2442 20.8271C8.49836 20.4798 6.89471 19.6226 5.63604 18.364C5.24551 17.9734 5.24551 17.3403 5.63604 16.9498C6.02656 16.5592 6.65973 16.5592 7.05025 16.9498C8.02922 17.9287 9.2765 18.5954 10.6344 18.8655C11.9922 19.1356 13.3997 18.997 14.6788 18.4672C15.9579 17.9373 17.0511 17.0401 17.8203 15.889C18.5895 14.7379 19 13.3845 19 12C19 10.6155 18.5895 9.26216 17.8203 8.11101C17.0511 6.95987 15.9579 6.06266 14.6788 5.53285C13.3997 5.00303 11.9922 4.86441 10.6344 5.13451C9.2765 5.4046 8.02922 6.07129 7.05025 7.05026C6.65973 7.44078 6.02656 7.44078 5.63604 7.05026C5.24551 6.65973 5.24551 6.02657 5.63604 5.63604C6.89471 4.37737 8.49836 3.5202 10.2442 3.17294Z"
                  fill="#000000" />
              </svg>
              <div>
                <%= text['signin'] %>
              </div>
            </a>
          </div>
          <div>
            <a href="/signup">
              <svg class="fill" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M6 8a1 1 0 0 0 1-1V5.923c0-.459.022-.57.082-.684a.364.364 0 0 1 .157-.157c.113-.06.225-.082.684-.082h10.154c.459 0 .57.022.684.082.07.038.12.087.157.157.06.113.082.225.082.684v12.154c0 .459-.022.57-.082.684a.363.363 0 0 1-.157.157c-.113.06-.225.082-.684.082H7.923c-.459 0-.57-.022-.684-.082a.363.363 0 0 1-.157-.157c-.06-.113-.082-.225-.082-.684V17a1 1 0 1 0-2 0v1.077c0 .76.082 1.185.319 1.627.223.419.558.753.977.977.442.237.866.319 1.627.319h10.154c.76 0 1.185-.082 1.627-.319.419-.224.753-.558.977-.977.237-.442.319-.866.319-1.627V5.923c0-.76-.082-1.185-.319-1.627a2.363 2.363 0 0 0-.977-.977C19.262 3.082 18.838 3 18.077 3H7.923c-.76 0-1.185.082-1.627.319a2.363 2.363 0 0 0-.978.977C5.083 4.738 5 5.162 5 5.923V7a1 1 0 0 0 1 1zm9.593 2.943c.584.585.584 1.53 0 2.116L12.71 15.95c-.39.39-1.03.39-1.42 0a.996.996 0 0 1 0-1.41 9.552 9.552 0 0 1 1.689-1.345l.387-.242-.207-.206a10 10 0 0 1-2.24.254H2.998a1 1 0 1 1 0-2h7.921a10 10 0 0 1 2.24.254l.207-.206-.386-.241a9.562 9.562 0 0 1-1.69-1.348.996.996 0 0 1 0-1.41c.39-.39 1.03-.39 1.42 0l2.883 2.893z"
                  fill="#000000" />
              </svg>
              <div>
                <%= text['signup'] %>
              </div>
            </a>
          </div>
          <div>
            <a href="/about">
              <svg class="fill" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>about</title>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="about-white" transform="translate(42.666667, 42.666667)">
                    <path
                      d="M213.333333,3.55271368e-14 C95.51296,3.55271368e-14 3.55271368e-14,95.51168 3.55271368e-14,213.333333 C3.55271368e-14,331.153707 95.51296,426.666667 213.333333,426.666667 C331.154987,426.666667 426.666667,331.153707 426.666667,213.333333 C426.666667,95.51168 331.154987,3.55271368e-14 213.333333,3.55271368e-14 Z M213.333333,384 C119.227947,384 42.6666667,307.43872 42.6666667,213.333333 C42.6666667,119.227947 119.227947,42.6666667 213.333333,42.6666667 C307.44,42.6666667 384,119.227947 384,213.333333 C384,307.43872 307.44,384 213.333333,384 Z M240.04672,128 C240.04672,143.46752 228.785067,154.666667 213.55008,154.666667 C197.698773,154.666667 186.713387,143.46752 186.713387,127.704107 C186.713387,112.5536 197.99616,101.333333 213.55008,101.333333 C228.785067,101.333333 240.04672,112.5536 240.04672,128 Z M192.04672,192 L234.713387,192 L234.713387,320 L192.04672,320 L192.04672,192 Z"
                      id="Shape"></path>
                  </g>
                </g>
              </svg>
              <div>
                <%= text['about'] %>
              </div>
            </a>
          </div>
          <% } %>
</nav>