<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['about'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['about'] }) %>
    <%- include('../components/nav') %>
      <main class="common about">
        <section>
          <h3>
            <%= text['aboutWebsite']['title'] %>
          </h3>
          <p>
            <%= text['aboutWebsite']['text'][0] %>
              <a href="https://github.com/Coconutmilk1" target="_blank">
                <%= text['aboutWebsite']['text'][1] %>
              </a>
              <%= text['aboutWebsite']['text'][2] %>
                <a href="https://github.com/Alfakynz">
                  <%= text['aboutWebsite']['text'][3] %>
                </a>
                <%= text['aboutWebsite']['text'][4] %>
          </p>
          <p>
            <%= text['aboutWebsite']['text'][5] %>
              <br />
              <%= text['aboutWebsite']['text'][6] %>
          </p>
        </section>
        <section>
          <h3>
            <%= text['aboutDev']['title'] %>
          </h3>
          <p>
            <%= text['aboutDev']['text'][0] %>
              <a href="https://github.com/Coconutmilk1" target="_blank">
                <%= text['aboutDev']['text'][1] %>
              </a>
              <%= text['aboutDev']['text'][2] %>
                <a href="https://github.com/Alfakynz" target="_blank">
                  <%= text['aboutDev']['text'][3] %>
                </a>
                <%= text['aboutDev']['text'][4] %>
          </p>
        </section>
        <section>
          <h3>
            <%= text['aboutTech']['title'] %>
          </h3>
          <p>
            <%= text['aboutTech']['text'][0] %>
              <a href="https://glitch.com" target="_blank">
                <%= text['aboutTech']['text'][1] %>
              </a>
          </p>
          <p>
            <%= text['aboutTech']['text'][2] %>
              <a href="https://console.firebase.google.com" target="_blank">
                <%= text['aboutTech']['text'][3] %>
              </a>
          </p>
          <p>
            <%= text['aboutTech']['text'][4] %>
              <a href="https://www.svgrepo.com" target="_blank">
                <%= text['aboutTech']['text'][5] %>
              </a>
              <br />
              <%= text['aboutTech']['text'][6] %>
                <a href="https://github.com/Alfakynz" target="_blank">
                  <%= text['aboutTech']['text'][7] %>
                </a>
          </p>
          <p>
            <%= text['aboutTech']['text'][8] %>
              <a href="https://nodejs.org" target="_blank">
                <%= text['aboutTech']['text'][9] %>
              </a>
              <br />
              <%= text['aboutTech']['text'][10] %>
                <br />
                <% for (let i=11; i <=text['aboutTech']['text'].length; i++) { %>
                  <%= text['aboutTech']['text'][i] %>
                    <br />
                    <% } %>
          </p>
        </section>
      </main>
</body>

</html>