<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['admin'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['signin'] }) %>
    <%- include('../components/nav') %>
      <main class="common admin">
        <section>
          <form action="/certify" method="post">
            <label for="username">
              <%= text['username'] %>:
            </label>
            <input type="text" name="username" id="username" placeholder="<%= text['username'] %>" />
            <br />
            <label for="email">
              <%= text['email'] %>:
            </label>
            <input type="email" name="email" id="email" placeholder="<%= text['email'] %>" />
            <br />
            <button type="submit">
              <%= text['certify'] %>
            </button>
          </form>
        </section>
      </main>
</body>

</html>