<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['welcome'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['nameWebsite'] }) %>
    <%- include('../components/nav') %>
      <main class="common index">
        <section>
          <h3>
            <%= text['welcomeMessage'] %>
          </h3>
          <p>
            <%= text['signin/up'][0] %>
              <a href="/signin">
                <%= text['signin/up'][1] %>
              </a>
              <%= text['signin/up'][2] %>
                <a href="/signup">
                  <%= text['signin/up'][3] %>
                </a>
                <%= text['signin/up'][4] %>
          </p>
        </section>
      </main>
</body>

</html>