<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['welcome'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['name_website'] }) %>
    <main>
      <section>
        <p>
          <%= text['welcome_message'] %>
        </p>
        <p>
          <%= text['signin/up'] %>
        </p>
      </section>
      <section>
        <a href="/signin">
          <%= text['signin'] %>
        </a>
        <a href="/signup">
          <%= text['signup'] %>
        </a>
      </section>
    </main>
</body>

</html>