<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['profile'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['yourProfile'] }) %>
    <%- include('../components/nav') %>
      <main class="common profile">
        <section>
          <div>
            <% if (user['image']) { %>
              <img class="profile-img" src="<%= user.image %>">
              <% } else { %>
                <span class="profile-img" style="color: <%= user.color %>; background-color: <%= user.color %>80;">
                  <%= user.username[0] %>
                </span>
                <% } %>
          </div>
          <div>
            <h2>
              <%= user.username %>
            </h2>
          </div>
        </section>
        <section>
          <form action="/change-username" method="post">
            <label for="username">
              <%= text['username'] %>:
            </label>
            <input type="text" id="username" name="username" value="<%= user.username %>"
              placeholder="<%= text['username'] %>" autocomplete="off" />
            <button type="submit">
              <%= text['changeUsername'] %>
            </button>
          </form>
          <% if (user.isCertified) { %>
            <form action="/change-email" method="post">
              <label for="email">
                <%= text['email'] %>:
              </label>
              <input type="email" id="email" name="email" value="<%= user.email %>"
                placeholder="<%= text['email'] %>" />
              <button type="submit">
                <%= text['changeEmail'] %>
              </button>
            </form>
            <% } %>
        </section>
        <section>
          <form action="/change-image" method="post">
            <label for="image">
              <%= text['image'] %>:
            </label>
            <input type="text" id="image" name="image" value="<%= user.image %>" placeholder="<%= user.image %>"
              autocomplete="off" />
            <button type="submit">
              <%= text['changeImage'] %>
            </button>
          </form>
          <form action="/change-color" method="post">
            <label for="color">
              <%= text['color'] %>:
            </label>
            <input type="text" id="color" name="color" value="<%= user.color %>" placeholder="<%= user.color %>"
              autocomplete="off" />
            <button type="submit">
              <%= text['changeColor'] %>
            </button>
          </form>
        </section>
        <section>
          <% if (user.isCertified) { %>
            <p>
              <%= text['certified'] %>
            </p>
            <% } else { %>
              <p>
                <%= text['notCertified'] %>
                  <br />
                  <a
                    href="mailto:liepchat+verification@gmail.com?subject=Certification&body=Bonjour, j'aimerai certifié mon compte (<%= user.username %>>), je suis en section ()">
                    <%= text['beCertified'] %>
                  </a>
              </p>
              <% } %>
                <p>
                  Section:
                  <% if (user.section==null) { %>
                    <%= text['noSection'] %>
                      <% } else { %>
                        <%= user.section %>
                          <% } %>
                </p>
        </section>
        <section>
          <form action="/change-password" method="post">
            <label for="password">
              <%= text['password'] %>:
            </label>
            <input type="password" id="password" name="password" placeholder="<%= text['password'] %>" />
            <br />
            <label for="newPassword">
              <%= text['newPassword'] %>:
            </label>
            <input type="password" id="newPassword" name="newPassword" placeholder="<%= text['newPassword'] %>" />
            <br />
            <button type="submit">
              <%= text['changePassword'] %>
            </button>
          </form>
        </section>
        <section>
          <form action="/refreshSignin" method="post">
            <button type="submit" class="refreshSignin">
              <%= text['refreshSignin'] %>
            </button>
          </form>
          <form action="/signout" method="post">
            <button type="submit" class="signout">
              <%= text['signout'] %>
            </button>
          </form>
          <form action="/delete-account" method="post">
            <button type="submit" class="delete-account">
              <%= text['deleteAccount'] %>
            </button>
          </form>
        </section>
      </main>
</body>

</html>