<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['profile'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['yourProfile'] }) %>
    <main>
      <section>
        <a href="/main">
          <%= text['chat'] %>
        </a>
      </section>
      <section>
        <form action="/change-color" method="post">
          <label for="color">
            <%= text['color'] %>:
          </label>
          <input type="text" id="color" name="color" value="<%= user.color %>" placeholder="<%= user.color %>" />
          <button type="submit">
            <%= text['changeColor'] %>
          </button>
        </form>
      </section>
      <section>
        <% if (user.isCertified) { %>
          <p>
            <%= text['certified'] %>
          </p>
          <% } else { %>
            <p>
              <%= text['notCertified'] %>
                <br />
                <a
                  href="mailto:liepchat+verification@gmail.com?subject=Certification&body=Bonjour, j'aimerai certifié mon compte (nom d'utilisateur).">
                  <%= text['beCertified'] %>
                </a>
            </p>
            <% } %>
      </section>
      <section>
        <form action="/change-username" method="post">
          <label for="username">
            <%= text['username'] %>:
          </label>
          <input type="text" id="username" name="username" value="<%= user.username %>"
            placeholder="<%= text['username'] %>" />
          <button type="submit">
            <%= text['changeUsername'] %>
          </button>
        </form>
      </section>
      <% if (user.isCertified) { %>
        <section>
          <form action="/change-email" method="post">
            <label for="email">
              <%= text['email'] %>:
            </label>
            <input type="email" id="email" name="email" value="<%= user.email %>" placeholder="<%= text['email'] %>" />
            <button type="submit">
              <%= text['changeEmail'] %>
            </button>
          </form>
        </section>
        <% } %>
          <section>
            <form action="/change-password" method="post">
              <label for="password">
                <%= text['password'] %>:
              </label>
              <input type="password" id="password" name="password" placeholder="<%= text['password'] %>" />
              <label for="newPassword">
                <%= text['newPassword'] %>:
              </label>
              <input type="password" id="newPassword" name="newPassword" placeholder="<%= text['newPassword'] %>" />
              <button type="submit">
                <%= text['changePassword'] %>
              </button>
            </form>
          </section>
          <section>
            <form action="/signout" method="post">
              <button type="submit">
                <%= text['signout'] %>
              </button>
            </form>
          </section>
          <section>
            <form action="/delete-account" method="post">
              <button type="submit">
                <%= text['deleteAccount'] %>
              </button>
            </form>
          </section>
    </main>
</body>

</html>