<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['profile'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['profile'] }) %>
    <main>
      <section>
        <p>
          <%= text['your_profile'] %>
        </p>
        <p>
          <%= user.name %>
        </p>
      </section>
      <section>
        <form action="/signout" method="post">
          <button type="submit">
            <%= text['signout'] %>
          </button>
        </form>
      </section>
      <section></section>
      <form action="/delete-account" method="post">
        <button type="submit">
          <%= text['delete_account'] %>
        </button>
      </form>
      </section>
    </main>
</body>

</html>