<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['signin'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['signin'] }) %>
    <%- include('../components/nav') %>
      <main class="common signin">
        <section>
          <form action="/signin" method="post">
            <label for="username">
              <%= text['username'] %>:
            </label>
            <input type="text" name="username" id="username" placeholder="<%= text['username'] %>" autocomplete="off" />
            <br />
            <label for="password">
              <%= text['password'] %>:
            </label>
            <input type="password" name="password" id="password" placeholder="<%= text['password'] %>" />
            <br />
            <button type="submit" class="signin">
              <%= text['signin'] %>
            </button>
          </form>
          <p>
            <%= text['dontHaveAccount'] %>
              <a href="/signup">
                <%= text['signup'] %>
              </a>
          </p>
        </section>
      </main>
</body>

</html>