<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['signin'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['signin'] }) %>
    <%- include('../components/nav') %>
      <main>
        <section>
          <form action="/signin" method="post">
            <label for="username">
              <%= text['username'] %>:
            </label>
            <input type="text" name="username" id="username" placeholder="<%= text['username'] %>" />
            <br />
            <label for="password">
              <%= text['password'] %>:
            </label>
            <input type="password" name="password" id="password" placeholder="<%= text['password'] %>" />
            <br />
            <button type="submit">
              <%= text['signin'] %>
            </button>
          </form>
        </section>
      </main>
</body>

</html>